
.chat_container .chat_box{
  height: 86vh;
  margin: 10px auto;
  // width: 70%;
  border: solid 1px black;
  border-radius: 10px;

  .chat_reciver {
    height: 10%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: none;
    border-bottom: solid 1px gray;
    // box-shadow: 0px 1px 10px gray , inherit 0 -1px 10px #00000094;
    padding: 5px 20px;
    .image_container {
      margin-right: 10px;
      // border: solid 1px red;
      max-width: 50px;
      > img {
        height: 50px;
        width: 50px;
        border: solid 2px white;
        border-radius: 50%;
      }
    }
    .name_container {
      > p {
        margin: 0 0;
        padding: 0 10px;
        // border: solid 1px red;
      }
    }
  }
.msg_container {
    height: 85%;
    overflow-y: scroll;

  
    > div {
      width: 96%;
     font-size: 20px;
      margin: 10px 2%;
      display: flex;
      flex-wrap: nowrap;
    }
    .left {
      justify-content: flex-start;
      > p {
        border: solid 1px rgba(245, 245, 245, 0.546);
        border-radius:0 15px 15px 15px ;
        padding: 10px 10px;
        background: rgba(130, 132, 132, 0.489);
      }
    }
    .right {
      justify-content: flex-end;
      > p {
        border: solid 1px rgba(245, 245, 245, 0.546);
        border-radius:15px 0 15px 15px ;
        padding: 10px 10px;
        background: rgba(32, 32, 31, 0.283);
      }
    }
  }
}


.send_box_container {
  height:5%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
    justify-content: flex-start;
   align-items:flex-end;
   
  border-radius: 10px;

  >form {
    width: 90%;
    margin: 0 auto;
    padding: 0 ;
    display: flex;
    flex-wrap: nowrap;
    > input {
      width: 90%;
      padding: 10px 10px;
      border: solid 1px whitesmoke;
      border-radius: 5px;
      background: transparent;
      color: whitesmoke;
      outline: none;
      font-size: 20px;

    }::placeholder{
      color: white;
    }
    >button {
      padding:10px;
      // height: 50px;
      // width: 50px;
      font-size: 20px;
      border: solid 1px white;
      background: transparent;
      color: rgb(17, 0, 255);
    }
  }
}
