.home_container{
    max-width:1200px;
    height: 90vh;
    display:flex;
    flex-wrap: nowrap;
    margin: 5vh auto;
    justify-content: center;
    align-items: center;
    border: solid 1px rgba(245, 245, 245, 0.436);
    border-radius: 10px;
    background: var(--black_them_color);
}
.chat_container {
    // height:100%;
    width: 70vw;
  }